<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Units in stock</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="product in products">
        <td>{{product.name}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td>{{product.unitsInStock}}</td>
        <td>
            <button class="btn btn-danger" ng-click="delete($index)">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
<a class="btn btn-primary" href="#product/create">Create Product</a>