<div class="col-md-offset-3 col-md-6">
    <div class="page-header">
        <h4>Welcome to our Web Store! <br/>
        </h4>
        <span>Register below and go straight shopping! If you already have an account, you can log in <a href="#"
                                                                                                         ng-click="login()">here</a>.</span>
    </div>
    <form class="form-horizontal">
        <div class="form-group {{status.email}}">
            <label class="col-sm-2 control-label" for="email">E-mail</label>

            <div class="col-sm-10">
                <input class="form-control" type="text" id="email" ng-model="form.email" placeholder="example@host.com">
                <span class="help-block">{{messages.email}}</span>
            </div>
        </div>

        <div class="form-group {{status.password}}">
            <label class="col-sm-2 control-label" for="password">Password</label>

            <div class="col-sm-10">
                <input class="form-control" type="password" id="password" ng-model="form.password">
                <span class="help-block">{{messages.password}}</span>
            </div>
        </div>

        <div class="form-group {{status.passwordConfirmation}}">
            <label class="col-sm-2 control-label" for="passwordConfirmation">Confirmation</label>

            <div class="col-sm-10">
                <input class="form-control" type="password" id="passwordConfirmation"
                       ng-model="form.passwordConfirmation">
                <span class="help-block">{{messages.passwordConfirmation}}</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary" ng-click="submit()">Register</button>
                <button class="btn btn-default" ng-click="login()">Log in</button>
                <span class="help-block">{{messages.form}}</span>
            </div>
        </div>
    </form>
</div>
